<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<form action="{{ url_for('home') }}" method="GET">
    <select name="sort" id="sort">
        <option value="" disabled selected>-- Sort by --</option>
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="year">Publication Year</option>
    </select>

    <select name="direction" id="direction">
        <option value="" disabled selected>-- Direction --</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>

    <button type="submit">Get Books</button>
    <hr>
    <input type="text" name="search_book_title" placeholder="Search by title">
    <input type="text" name="search_book_author" placeholder="Search by author">
    <input type="text" name="search_book_year" placeholder="Search by year">
    <button type="submit">Find Books</button>
    <hr>

</form>
<div class="book-card">
    <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="Cover of {{ book.title }}">

    <h3>{{ book.title }}</h3>


    <p>Publication Year: {{ book.publication_year }}</p>
    <form action="{{ url_for('delete_book', book_id=book.id) }}" method="POST">
        <button type="submit">Delete Book</button>
    </form>
</div>
<hr>
<div class="author-card">
    <h3><strong>Author: </strong>{{ book.author.name }}</h3>
    <p>Birth Date: {{ book.author.birth_date }}</p>
    {% if book.author.death_date %}
    <p>Death Date: {{ book.author.death_date }}</p>
    {% endif %}
    <form action="{{ url_for('show_author', author_id=book.author.id) }}" method="GET">
        <button type="submit">Show Author</button>
    </form>
    <form action="{{ url_for('delete_author', author_id=book.author.id) }}" method="POST">
        <button type="submit">Delete Author</button>
    </form>
</div>

</body>
</html>