<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert">{{ message }}</div>
<hr>
{% endfor %}
{% endif %}
{% endwith %}
<form action="{{ url_for('home') }}" method="GET">
    <select name="sort" id="sort">
        <option value="" disabled selected>-- Sort by --</option>
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="year">Publication Year</option>
    </select>

    <select name="direction" id="direction">
        <option value="" disabled selected>-- Direction --</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>

    <button type="submit">Get Books</button>
    <hr>
    <input type="text" name="search_book_title" placeholder="Search by title">
    <input type="text" name="search_book_author" placeholder="Search by author">
    <input type="text" name="search_book_year" placeholder="Search by year">
    <button type="submit">Find Books</button>

</form>

<hr>
{% if not books %}
<p>No Books found in database!</p>
{% else %}
<div class="book-grid">
    {% for book in books %}
    <div class="book-card">
        <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="Cover of {{ book.title }}">

        <h3>{{ book.title }}</h3>

        <p><strong>Author:</strong> {{ book.author.name }}</p>
        <form action="{{ url_for('show_author', author_id=book.author.id) }}" method="GET">
            <button type="submit">Show Author</button>
        </form>
        <form action="{{ url_for('delete_author', author_id=book.author.id) }}" method="POST">
            <button type="submit">Delete Author</button>
        </form>

        <p><small>Publication Year: {{ book.publication_year }}</small></p>
        <form action="{{ url_for('show_book', book_id=book.id) }}" method="GET">
            <button type="submit">Show Book</button>
        </form>
        <form action="{{ url_for('delete_book', book_id=book.id) }}" method="POST">
            <button type="submit">Delete Book</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endif %}
</body>
</html>